[submodule "zsh/.local/share/zsh/antigen"]
	path = zsh/.local/share/zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "zsh/.local/share/zsh/grml-etc-core"]
	path = zsh/.local/share/zsh/grml-etc-core
	url = https://github.com/grml/grml-etc-core
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "gdb/.local/share/gdb-dashboard"]
	path = gdb/.local/share/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
